body{font-family:'ו';font-size:12px;line-height:1.5;background:#FFF;color:#000;text-align:center;}
ul,li,ol{list-style:none;}
select,input{vertical-align:middle;}
img{border:0;}
a{text-decoration:none;color:#009;}
a:hover{color:red;text-decoration:underline;}
#wrap{width:960px;overflow:hidden;background:#FFF;text-align:left;margin:0 auto;}
#top_bar{text-align:center;background:#fff;border-bottom:1px #ddd solid;height:24px;color:#acb4be;width:960px;margin:3px 0 8px;}
#top_bar a{color:#009;height:13px;overflow:hidden;text-align:center;margin:8px 2px 0 3px;}
#top_bar a:hover{color:#c00;}
#top_nav{border-bottom:1px solid #b0b7c9;clear:all;height:23px;line-height:23px;}
#top_border ul{padding-left:15px;margin:0;}
#t_logo{float:left;width:180px;padding-left:4px;}
#t_logo ul{width:120px;margin:0 auto;}
#t_logo ul li{float:left;margin:4px 4px 0 4px;}
#t_banner{float:right;width:760px;text-align:center;}
#top_hx ul li{border-left:1px solid;margin-left:-1px;float:left;}
#top_hx li a{margin:0 10px;}
#place{background:#FFF;width:100%;height:24px;clear:both;margin:0 0 5px;}
#place1{float:left;width:700px;text-align:left;text-indent:5px;line-height:24px;}
#place2{float:right;width:250px;}
.menu_title{width:100%;color:0;background:url(/images/bg_1.gif);height:27px;text-align:center;clear:both;margin:0 auto;padding:8px 0 0;}
td{font-size:12px;line-height:150%;word-break:break-all;width:fixed;}
.so_q{background:#f6f6f6;border:1px solid #bfbfbf;color:#000;height:18px;width:100px;font-size:14px;line-height:20px;margin:3px 0 0 3px;}
#border1{border:1px solid #BFBFBF;width:762px!important;clear:both;margin:0 auto;padding:3px;}
.border{border:1px solid #BFBFBF;}
.border2{background:#fff;border-bottom:#bfbfbf 1px solid;}
.border3{width:100%;background:#FFF;text-align:left;margin:0 auto;}
#t768{width:768px;border-right:1px #a7a9a7 solid;border-left:1px #a7a9a7 solid;text-align:center;margin:0 auto;}
.a{width:776px;border-right:1px #a7a9a7 solid;border-left:1px #a7a9a7 solid;text-align:center;margin:0 auto;}
#class_a2{width:776px;text-align:center;}
.class_intro{background:#FFF;text-align:left;width:900px;clear:both;text-indent:24px;margin:0 auto;padding:3px;}
#class_nav ul li{font-size:7px;color:#00349A;display:block;padding-top:5px;float:left;width:24%;border-bottom:1px dotted #DBDBDB;height:20px;overflow:hidden;}
.main_title{width:776px;color:0;background:url(/images/bg_1.gif);height:28px;border-right:1px solid #a7a9a7;border-left:1px solid #a7a9a7;text-align:left;vertical-align:middle;}
.main_title2{width:776px;color:0;background:url(/images/bg_1.gif);height:27px;border-right:1px solid #a7a9a7;border-left:1px solid #a7a9a7;text-align:left;clear:both;margin:0 auto;padding:8px 0 0;}
.main_title3{width:100%;background:url(/images/bg_1.gif);line-height:22px;height:22px;clear:both;padding:3px 0;}
.main_title_bottom{width:776px;color:0;background:url(/images/bg_1.gif);height:28px;border-right:1px solid #a7a9a7;border-left:1px solid #a7a9a7;text-align:center;margin-left:auto;margin-right:auto;padding-top:8px;}
.nav_main{background:url(/images/bg_1.gif);line-height:150%;height:134px;}
.menu{background-color:#eee;width:97%;border:1px;}
.c{text-align:center;margin:0 auto;}
.left_box{border:1px solid #cbcbcb;float:left;width:298px;margin-bottom:5px;}
.left_title{background:#f2f6fb;border-bottom:1px solid #cbcbcb;text-align:left;text-indent:10px;line-height:24px;}
.left_main{line-height:1.5;text-align:center;border-top:0;float:left;padding:8px 0 8px 4px;}
.left_main ul{text-align:left;margin:0 auto;}
.left_main ul.l2 li{width:145px;float:left;}
.left_main ul li{height:20px;overflow:hidden;width:290px;line-height:20px;}
.left_tdbg1{line-height:150%;padding:0 5px;}
.center_tdbgall{background:#FFF;border-right:1px solid #a7a9a7;border-left:1px solid #a7a9a7;clear:both;}
.left_tdbgall{background:#f8f8f8;border-right:1px solid #a7a9a7;}
.main_tdbg_575{line-height:150%;text-align:left;padding:5px 0;}
.main_title_575{color:0;background:url(/images/bg_1.gif);height:28px;}
#spacer{padding:2px;}
H1{font-size:16px;text-decoration:none;margin:3px;}
H2{font-size:14px;text-decoration:none;margin:2px;}
H3{font-size:12px;text-decoration:none;margin:1px;}
#article{font:12px/1.5 "Microsoft Yahei", Arial, Helvetica, sans-serif;}
#articleinfo{height:25px;text-align:center;width:600px;margin:0 auto;}
#adv_468_60{padding-top:8px;}
#share{width:600px;margin:0 auto;}
.share{float:left;font-size:12px;text-align:center;width:470px;padding:0;}
#articlecontent{text-align:left;vertical-align:top;font-size:14px;line-height:1.8;font-family:"Microsoft Yahei", Arial;clear:both;padding:5px 15px;}
#articlecontent ul,#articlecontent ol{margin: 0 0 1.625em 2.5em;}
#articlecontent a:hover{text-decoration:underline overline;}
#articlecontent h3{background:none;}
#articlecontent p{display:block;margin:0 0 12px;}
#articleprenext{border-top:#6687ba 1px solid;border-bottom:#6687ba 1px solid;text-align:left;padding:5px;}
#articlesize{text-align:right;padding:0;}
#articlereadme{margin-top:5px;border-top:1px solid #6687ba;text-align:left;clear:both;padding:3px;}
#articlereadme li{border:1px dotted #efefef;line-height:20px;list-style-type:none;}
#articleprenext ul{margin:0 0 0 15px;padding:0;}
li{list-style-type:circle;}
#article_list{height:150px;width:100%;background:url(/images/ad_bg1.gif);padding:5px;}
#article_list li{line-height:24px;}
.f7{font-size:7px;color:#00349A;}
.title_1{float:left;text-indent:12px;padding:3px 0;}
.title_2{float:right;padding:0 12px 0 0;}
#textad{border-bottom:1px solid #a7a9a7;clear:both;font-size:14px;padding:3px;}
td .code{width:auto;}
.code,pre.CodeSamp{font-family:arial;font-size:12px;line-height:18px;color:#000;background-color:#DDEDFB;width:520px;border:1px solid #09C;clear:both;margin:5px auto;padding:5px;}
.menuskin{border:#666 1px solid;font-size:12px;visibility:hidden;position:absolute;background:#efefef;}
.menuskin A{color:#000;text-decoration:none;padding:0 10px;}
.menuitems{marign:2px;line-height:18px;text-align:left;padding:1px;}
#right_show{width:100%;cursor:hand;}
.main_content{padding:3px;}
.main_content_l{text-align:left;padding:3px;}
.home_content{padding-left:5px;border:1px solid #DBDBDB;width:98%;margin-bottom:5px;}
.home_title{text-indent:12px;background:#EFEFEF;width:98%;text-align:left;padding:3px;}
#list1 ul li{font-size:7px;color:#00349A;display:block;padding-top:5px;float:left;width:33%;border-bottom:1px dotted #DBDBDB;height:20px;overflow:hidden;}
.main_t4{color:#C00;width:644px;text-align:left;background:#F2F2F2;border:1px solid #CCC;border-bottom:0;text-indent:12px;margin:5px auto 0;padding:3px;}
.main_c4{border:1px solid #CCC;text-align:left;width:644px;margin:0 auto 5px;padding:3px;}
.main_c4 ul{margin:0 0 0 20px;padding:0;}
#rightup{text-align:center;width:100px;position:absolute;top:expression(document.body.scrollTop-this.clientHeight+500)!important;right:5px;}
#rightup2{text-align:center;width:100px;position:absolute;top:expression(document.body.scrollTop-this.clientHeight+600)!important;right:5px;}
#leftup{text-align:center;width:100px;position:absolute;top:expression(document.body.scrollTop-this.clientHeight+500)!important;left:5px;}
.codetextarea{font-family:Arial;font-size:12px;height:310px;width:515px;word-wrap:normal;word-break:keep-all;}
#main{border-top:1px solid #C8D8F2;clear:both;}
#side{width:300px;float:right;}
#con{float:left;overflow:hidden;width:652px;}
#con #show{word-break:break-all;background:none repeat scroll 0 0 #F5F8FD;border-left:1px solid #C8D8F2;border-right:1px solid #C8D8F2;overflow:hidden;width:650px;padding:20px 0 0;}
#bottom{clear:both;text-align:center;line-height:22px;padding-top:3px;border-top:5px solid #09F;width:960px;margin:0 auto;}
#a2{text-align:center;clear:both;margin:0 auto;}
#adv_468_60,#adv_600_60{text-align:center;}
#con .tit{width:100%;background:url(/images/bg_1.gif);height:28px;text-align:left;}
#con h32{background:url(/images/arrow.gif) 3px 8px no-repeat;text-indent:20px;font-weight:400;padding-top:8px;}
#con h1{color:#03005C;font-size:20px;font-weight:400;height:35px;line-height:35px;overflow:hidden;text-align:center;}
#archive ul{width:95%;margin:5px auto;}
#archive ul li{float:left;width:104px;background:#FFF;border:1px solid #DBDBDB;text-align:center;line-height:24px;height:24px;list-style:none;margin:3px;}
#archive ul li a{display:block;color:#000;}
#archive ul li a:hover{background:#EFEFEF;color:#00F;text-decoration:none;}
#list2{width:940px;clear:both;margin:0 auto;}
#list2 ul{line-height:24px;margin:0;padding:0 0 0 2px;}
#list2 ul li{font-size:10px;color:#00349A;display:block;overflow:hidden;float:left;width:460px;border-bottom:1px dotted #DBDBDB;height:24px;}
#list2 a:link.tit,#list2 a:visited.tit{color:#333;}
#list2 ul li sup{float:right;width:38px;font-size:14px;padding-top:3px;color:#999;}
#friendlink li{float:left;padding:0 5px;}
#tag_con{width:95%;text-align:left;margin:0 auto;}
#tag_con h3{background:none;text-indent:0;font:18px/32px \5FAE\8F6F\96C5\9ED1;margin:5px 0 0;padding:0;}
#tag_con h3 a,#tag_con h3 a:link{color:#117CB9;font-weight:400;}
#tag_con .txt{color:#333;padding:5px;}
.cutpage{text-align:right;color:#0099CF;margin:10px;clear:both;}
.cp1{float:left;padding:0 0 0 12px;}
.cp2{float:right;padding:0 8px 0 0;}
.cp3{float:right;}
.cutpage li{float:left;width:auto;margin-right:3px;display:inline;overflow:hidden;}
.cutpage li.first{display:block;width:23px;height:20px;text-indent:999px;background:url(/images/next.gif) no-repeat 0 0;}
.cutpage li.first a{display:block;background:url(/images/next.gif) no-repeat 0 -30px;}
.cutpage li.next{display:block;text-align:center;text-indent:-6px;width:59px;height:20px;line-height:18px;padding-top:2px;background:url(../images/next.gif) no-repeat -25px 0;}
.cutpage li.cur{border:1px solid #CCC;color:#f60;font-weight:700;line-height:18px;padding:0 6px;}
.cutpage li.cur a{color:#f60;cursor:default;text-decoration:none;}
.cutpage li.num{display:block;text-align:center;color:#f60;height:20px;line-height:18px;}
.cutpage li.num a:link,.cutpage li.num a:visited{display:block;border:1px solid #ccc;color:#333;padding:0 6px;}
.cutpage li.num a:hover{display:block;border:1px solid #f60;color:#f60;padding:0 6px;}
#summary{clear:both;width:548px;font-size:14px;line-height:25px;border:1px solid #e1e1e1;margin:0 auto;padding:12px 15px;}
#yue_as{width:960px;height:88px;font-size:12px;border:1px solid #EEE;float:left;overflow:hidden;}
#yue_as p{100%;float:left;margin:0;padding:0;}
#yue_as p a{text-decoration:none;margin:0 3px 0 2px;}
#yue_as p a:hover{text-decoration:underline;}
#yue_as .p1{height:31px;line-height:31px;background-color:#FBFBFB;border-bottom:1px solid #EEE;padding-left:15px;margin-bottom:5px;}
#yue_as .p1 span{font-size:14px;font-weight:700;margin-right:5px;}
#yue_as .p2{height:20px;line-height:20px;padding-left:15px;margin-top:3px;}
#yue_as .p2 span{font-weight:700;background:url(/images/adicon.gif) 0 2px no-repeat;padding-left:22px;margin-right:5px;float:left;}
html,body,div,span,h2,h3,h4,h5,h6,p,a,del,em,img,small,strong,sub,sup,dd,dl,dt,li,ol,ul,label,table,tr,th,td,form,#articlereadme ul{margin:0;padding:0;}
td,div,#list2 a{font-size:12px;}
.f14,#list2 a.tit{font-size:14px;}
Button,Select{font-size:9pt;height:20px;}
#class_nav ul,#list1 ul{line-height:18px;margin:0 0 0 1%;padding:0 0 0 2px;}
#class_nav ul li a,#list1 ul li a{font-size:12px;padding-right:3px;}
.title12,form{margin:0;}
.keyworld,.red,a.red:link,a.red:visited,#archive ul li.c a,#archive ul li.c a:hover{color:red;}
#articlecontent a:link,#list2 ul li a:link,#list2 ul li a:visited,#yue_as .p1 a,#yue_as .p1 a:link,#yue_as .p2 a,#yue_as .p2 a:link{color:#666;}
.blue,a.blue:link,a.blue:visited,#con_a a,#con_a a:link{color:#00F;}
#content_main,#list1{clear:both;}
.menu_popup,#a1{display:none;}
#list1 ul li a:hover,#archive ul li.c,#list2 ul li a:hover{background:#EFEFEF;}